@import url("https://fonts.googleapis.com/css2?family=Lora:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&display=swap");

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.container {
  width: 100%;
  max-width: 1140px;
  margin: 0 auto;
}

section {
  padding: 90px 0;
}

.first-screen {
  height: 100vh;
  clip-path: ellipse(100% 60% at 50% 35%);
  display: flex;
}

h1 {
  font-family: Lora;
  font-size: 42px;
}

.section-bg {
  background: url(../src/img/6065661.jpg);
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100%;
  color: #fff;
}

.blur {
  background: rgba(255, 255, 255, 0);
  backdrop-filter: blur(15px);
  height: 100vh;
  width: 100%;
  height: 100vh;
  clip-path: ellipse(100% 60% at 50% 35%);
  display: flex;
  align-items: center;
  position: relative;
}

.btn {
  padding: 13px 20px;
  border: 2px solid transparent;
  text-decoration: none;
  font-weight: 700;
}

.white-text {
  color: white;
}

.black-text {
  color: white;
}

.btn-bg {
  background: #ff7f00;
}

.btn-outline {
  border-color: #ff7f00;
}

h2 {
  font-family: Lora;
  font-size: 48px;
  margin: 0 0 60px;
  text-align: left;
}
p {
  font-size: 20px;
  line-height: 2;
  font-family: Montserrat;
}

p {
  text-align: left;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.img-wrapper {
  width: 350px;
  height: 290px;
  margin-bottom: 50px;
  overflow: hidden;
  cursor: pointer;
  display: flex;
  justify-content: center;
}

.img-wrapper img {
  object-fit: cover;
}

.img-wrapper:hover {
  transform: scale(1.1);
  transition: all 0.5s ease-in-out;
}

.d-flex {
  display: flex;
}
.w-60 {
  width: 60%;
}
.w-40 {
  width: 40%;
}

.pr-4 {
  padding-right: 4rem;
}

form {
  display: flex;
  flex-direction: column;
}

input,
textarea {
  padding: 15px;
  font-size: 15px;
  margin-bottom: 15px;
}

input:focus,
textarea:focus {
  outline: none;
}

footer {
  padding: 50px 0;
  text-align: center;
}

.frame {
  width: 90%;
  margin: 40px auto;
  text-align: center;
}

button {
  margin: 20px;
}

.custom-btn {
  width: 130px;
  height: 40px;
  color: #fff;
  border-radius: 5px;
  padding: 10px 25px;
  font-family: "Lato", sans-serif;
  font-weight: 500;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  outline: none;
}

/* 7 */
.btn-7 {
  background: linear-gradient(
    0deg,
    rgba(255, 151, 0, 1) 0%,
    rgba(251, 75, 2, 1) 100%
  );
  line-height: 42px;
  padding: 0;
  border: none;
}

.btn-7 span {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
}

.btn-7:before,
.btn-7:after {
  position: absolute;
  content: "";
  right: 0;
  bottom: 0;
  background: rgba(251, 75, 2, 1);
  transition: all 0.3s ease;
}

.btn-7:before {
  height: 0%;
  width: 2px;
}

.btn-7:after {
  width: 0%;
  height: 2px;
}

.btn-7:hover {
  color: rgba(251, 75, 2, 1);
  background: transparent;
}

.btn-7:hover:before {
  height: 100%;
}

.btn-7:hover:after {
  width: 100%;
}

.btn-7 span:before,
.btn-7 span:after {
  position: absolute;
  content: "";
  left: 0;
  top: 0;
  background: rgba(251, 75, 2, 1);
  transition: all 0.3s ease;
}

.btn-7 span:before {
  width: 2px;
  height: 0%;
}

.btn-7 span:after {
  height: 2px;
  width: 0%;
}

.btn-7 span:hover:before {
  height: 100%;
}

.btn-7 span:hover:after {
  width: 100%;
}
